.probe,.nature1,.nature2{
    border:1px solid #e3e4e4;
    width:80%;
    margin-left: 10%;
    padding:0% 0% 0% 5%;
}
/*车辆信息*/
.nature{
    /*border:1px solid red;*/
    /*width:90%;*/
    /*margin-left:5%;*/
    /*margin-top: 1%;*/
}
.nature1,.nature2{
    float: left;
    margin-left:10%;
    /*border:1px solid #e3e4e4;*/
    /*width:90%;*/
}
/*=====end车辆信息=====*/

.chexinggengduo{
    font-size: 24px;
    margin-left:8px;
    margin-top: 18px;
    padding: 10px;
}
.chexinggengduo div{
    margin-top: 40px;
}
.gengduo{
    margin-top: 50px;
}
.shuiyong{
    margin-top: 30px;
}
.tabs{
            position: relative;
        }
        .tabs ul{
            position: absolute;
           width: 100%;
           text-align: center;
           margin: 0;
           padding:0;
           font-size: 0;
            
        }
        .tabs ul li{
            display: inline-block;
            border-right:1px solid #626669;
            background:#313639;
            padding: 8px 15px;
            font-size:0;   
        }
        .tabs ul li:last-child{
            border: 0;
        }
        .tabs ul li a{
            color: #fff;
            font-size:14px;
        }
	.slick-list{
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
		margin-top: 8%;
		width:130%;
		left:85px;
		top:30px;
	}
/*	.slick-slide{*/
/*		float:left*/
/*	}*/
	.slick-slide{
		margin: 0.5%;
		height:5%;
		width:11.5%;
	}
	.slick-img{
		width:500px;
	}
	.slick-img >img{
		display: block;
		width: 500px;
		height: 400px;
	}
	.slick-btn{
		padding: 2% 4%;
		background-color: #313639;
		display: inline-block;
		color: #fff;
		margin-left: 4%;
		margin-bottom: 4%;
		cursor: pointer
	}
	.slick-title{
		font-size:18px;
	}
	.slick-content{
		font-size:12px;
		
	}
	.slick-content,.slick-title{
		margin: 10px 0px;
		margin-right: 10%;
		margin-left: 10px;
	}
	.slick-btn{
		margin-top: 10px;
	}
	.slick-btn>span>span{
		margin: 5px;
	}
	.slick-btn>span{
		font-size: 15px;
	}

	/*车图片转换*/
		.left{
			left:10px;
		}
		.changeImg{
			position:relative;
			width: 788px;
			height: 476px;
		}
		.changeImg>img{
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}
		.changeImg>img.fade{
			opacity: 0;
		}
		.changeImg>img.active{
			opacity:1;
			transition:all linear 1s;
		}
		.right{
			position: relative;
			left:88%;
			top:10px;
		}
		.accordion{
		width: 100%;
		margin: 0 auto;
		}
		.accordion>.title{
			/*background: #eee;*/
			border:1px solid #aaa;
			padding:6px;
			font-size:1.5em;
			font-weight:bold;
			cursor: pointer;
			width:100%;
		}
		.accordion>.content.fade{
			height: 0;
			/*opacity: 0;*/
			/*background: #555;*/
			border: 1px solid #ccc;
			border-top: 0;
			overflow: hidden;
			transition:all .5s linear;
		}
		.accordion>.content.in{
			height: 100px;
			opacity: 1;
			background: #fff;
		}

		.audio-left-1,.audio-left-2{
    float:left;
    width: 50%;
}
.audio-left-1> img{
    width: 100%;
}
.audio-left-2 > img {
    width: 100%;
}
.audio-left-3 > img{
    width: 100%;
}
.vidio1{
    position:absolute;
    font-size:30px;
    color:white;
    cursor: pointer;
}
.audio-left-1>.vidio1{
    left:25%;
    top:10%;
}
.audio-left-2>.vidio1{
    left:75%;
    top:10%;
}
.audio-left-3>.vidio1{
    left:43%;
    top:60%;
}

.audio-right-1,.audio-right-2{
    float:left;
    width: 50%;
}
.audio-right-1> img{
    width: 100%;
}
.audio-right-2 > img {
    width: 100%;
}
.audio-right-3 > img{
    width: 100%;
}
.audio-right-1>.vidio1{
    left:20%;
    top:74%;
}
.audio-right-2>.vidio1{
    left:70%;
    top:74%;
}
.audio-right-3>.vidio1{
    left:43%;
    top:23%;
}