@charset "utf-8";
BODY{
	text-align:left;
	padding:0;
	margin:0 auto;
	font-family:Microsoft Yahei;
	color:#333;
	font-size:12px;
}
html{
	overflow:scroll;
	overflow-x:hidden;
}
A{
	outline-style:none;
	outline-color:invert;
	outline-width:medium;
}
DIV,FORM,P,I,IMG,UL,LI,OL,DL,DT,DD,TABLE,TR,TD,TH,FIELDSET,LABEL,
LEGEND,SELECT,BUTTON,INPUT{
	padding:0;
	margin:0;
} 
P,LI,DIV{
	line-height:26px;
}
H1,H2,H3,H4,H5,H6{
	padding:0;
	margin:0;
	font-size:24px;
	font-weight:normal;
}
UL,OL,LI,DL,DT,DD {
	list-style:none;
}
IMG{
	border:0;
	padding:0;
	margin:0;
	vertical-align:middle;
}
a:link{
	color:#333;
	font-weight:normal;
	text-decoration:none;
}
a:visited{
	color:#333;
	font-weight:normal;
	text-decoration:none;
}
a:hover{
	color:red;
	font-weight:normal;
}
a:active{
	color:#333;
	font-weight:normal;
	text-decoration:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.fn{
	float:none;
}